<aside>
    <div id="sidebar" class="nav-collapse">
        <!-- sidebar menu start-->
        <div class="leftside-navigation">
            <ul class="sidebar-menu" id="nav-accordion">
                <li>
                    <a class="active" href="index.html">
                        <i class="fa fa-dashboard"></i>
                        <span>Trang quản trị</span>
                    </a>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-book"></i>
                        <span>Danh mục</span>
                    </a>
                    <ul class="sub">
                        <li><a href="general.html"><i class="fa fa-folder-o"></i>Danh mục Loại Sản phẩm</a></li>
                        <li><a asp-action="Index" asp-controller="NewsCategory"><i class="fa fa-folder-o"></i>Danh mục Loại Tin tức</a></li>
                        <li><a asp-action="Index" asp-controller="Roles"><i class="fa fa-folder-o"></i>Danh mục Phân quyền</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-book"></i>
                        <span>Quản lý</span>
                    </a>
                    <ul class="sub">
                        <li><a href="general.html"><i class="fa fa-folder-o"></i>Danh mục Loại Sản phẩm</a></li>
                        <li><a href="buttons.html"><i class="fa fa-folder-o"></i>Danh mục Loại Tin tức</a></li>
                        <li><a asp-action="Index" asp-controller="Users"><i class="fa fa-folder-o"></i>Quản lý người dùng</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-book"></i>
                        <span>Báo cáo & Thống kê</span>
                    </a>
                    <ul class="sub">
                        <li><a href="general.html"><i class="fa fa-folder-o"></i>Danh mục Loại Sản phẩm</a></li>
                        <li><a href="buttons.html"><i class="fa fa-folder-o"></i>Danh mục Loại Tin tức</a></li>
                        <li><a href="typography.html"><i class="fa fa-folder-o"></i>Danh mục Loại Thông báo</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-book"></i>
                        <span>Cấu hình</span>
                    </a>
                    <ul class="sub">
                        <li><a href="general.html"><i class="fa fa-folder-o"></i>Danh mục Loại Sản phẩm</a></li>
                        <li><a href="buttons.html"><i class="fa fa-folder-o"></i>Danh mục Loại Tin tức</a></li>
                        <li><a href="typography.html"><i class="fa fa-folder-o"></i>Danh mục Loại Thông báo</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- sidebar menu end-->
    </div>
</aside>